In [1]:
#Creating dataframe in pandas
import pandas as pd
import numpy as np
d={'Name':pd.Series(['Tom','James','Ricky','Vin','Steve','Smith','Jack']),'Age':pd.Series([25,26,25,23,30,29,23]),'Rating':pd.Series([4.23,3.24,3.98,2.56,3.20,4.6,3.8])}
df=pd.DataFrame(d)
print(df)

    Name  Age  Rating
0    Tom   25    4.23
1  James   26    3.24
2  Ricky   25    3.98
3    Vin   23    2.56
4  Steve   30    3.20
5  Smith   29    4.60
6   Jack   23    3.80

In [2]:
#Transpose
print(df.T)

           0      1      2     3      4      5     6
Name     Tom  James  Ricky   Vin  Steve  Smith  Jack
Age       25     26     25    23     30     29    23
Rating  4.23   3.24   3.98  2.56    3.2    4.6   3.8

In [3]:
print("Row axis labels and column axis labels are: ")
print(df.axes)

Row axis labels and column axis labels are:
[RangeIndex(start=0, stop=7, step=1), Index(['Name', 'Age', 'Rating'], dtype='object')]

In [4]:
#Datatypes of all the columns
print(df.dtypes)

Name       object
Age         int64
Rating    float64
dtype: object

In [5]:
#To check if dataframe is empty or not
print(df.empty)

False

In [6]:
#To get the dimensions of the dataframe
print("Dimensions are: ",df.ndim)

Dimensions are:  2

In [7]:
#Share pf the object
print("Shape of the object",df.shape)

Shape of the object (7, 3)

In [8]:
print("Total number of elements: ",df.size)

Total number of elements:  21

In [9]:
print("Sample of dataframe", df.head(2))
#df.head() displays 5 rows by default else the value passed

Sample of dataframe     Name  Age  Rating
0    Tom   25    4.23
1  James   26    3.24

**#Descriptive statistics**

In [10]:
# sum(), it returns the sum of the values of rquested axes
# By default axes is zero, df.sum() is same as df.sum(0)
print(df.sum())

Name      TomJamesRickyVinSteveSmithJack
Age                                  181
Rating                             25.61
dtype: object

In [11]:
# TO add columns, we write df.sum(1)

print(df.sum(1))

0    29.23
1    29.24
2    28.98
3    25.56
4    33.20
5    33.60
6    26.80
dtype: float64

C:\Users\pjaas\AppData\Local\Temp\ipykernel_12992\3415142062.py:3: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  print(df.sum(1))

In [12]:
# To get the average value we use df.mean()

print(df.mean())

Age       25.857143
Rating     3.658571
dtype: float64

C:\Users\pjaas\AppData\Local\Temp\ipykernel_12992\3072421378.py:3: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  print(df.mean())

In [13]:
# TO get the middle value, we use df.median()
print(df.median())

Age       25.0
Rating     3.8
dtype: float64

C:\Users\pjaas\AppData\Local\Temp\ipykernel_12992\753683220.py:2: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  print(df.median())

In [14]:
# To get the standard deviation of the values
print(df.std())

Age       2.734262
Rating    0.698628
dtype: float64

C:\Users\pjaas\AppData\Local\Temp\ipykernel_12992\1884633623.py:2: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  print(df.std())

In [15]:
#To get the maximum values
print(df.max())

Name      Vin
Age        30
Rating    4.6
dtype: object

In [16]:
# To get the minimum value
print(df.min())

Name      Jack
Age         23
Rating    2.56
dtype: object

In [17]:
#To get the absolute value
print(df.abs())

TypeError: bad operand type for abs(): 'str'

In [ ]:
#To find the product of values
print(df.prod())

Age       7.478738e+09
Rating    7.810877e+03
dtype: float64

C:\Users\pjaas\AppData\Local\Temp\ipykernel_4612\558812242.py:2: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  print(df.prod())

In [ ]:
# To get the cumulative sum
print(df.cumsum())

                             Name  Age  Rating
0                             Tom   25    4.23
1                        TomJames   51    7.47
2                   TomJamesRicky   76   11.45
3                TomJamesRickyVin   99   14.01
4           TomJamesRickyVinSteve  129   17.21
5      TomJamesRickyVinSteveSmith  158   21.81
6  TomJamesRickyVinSteveSmithJack  181   25.61

In [ ]:
# To get the cumulative product
print(df.cumprod())

TypeError: can't multiply sequence by non-int of type 'str'

In [ ]:
# The describe() computes a summart of statistics to the DataFrame columns
print(df)
df.describe(include=['object'])

    Name  Age  Rating
0    Tom   25    4.23
1  James   26    3.24
2  Ricky   25    3.98
3    Vin   23    2.56
4  Steve   30    3.20
5  Smith   29    4.60
6   Jack   23    3.80

       Name
count     7
unique    7
top     Tom
freq      1

In [ ]:
print(df.describe(include='all'))

       Name        Age    Rating
count     7   7.000000  7.000000
unique    7        NaN       NaN
top     Tom        NaN       NaN
freq      1        NaN       NaN
mean    NaN  25.857143  3.658571
std     NaN   2.734262  0.698628
min     NaN  23.000000  2.560000
25%     NaN  24.000000  3.220000
50%     NaN  25.000000  3.800000
75%     NaN  27.500000  4.105000
max     NaN  30.000000  4.600000

**Reindexing**

In [ ]:
from secrets import choice


N=20
af=pd.DataFrame({
    'A': pd.date_range(start='2022-01-01',periods=N,freq='D'),
    'x': np.linspace(0,stop=N-1,num=N),
    'y': np.random.rand(N),
    'C': np.random.choice(['Low','Medium','High'],N).tolist(),
    'D': np.random.normal(100,10,size=(N)).tolist()
})
print(af.reindex(index=[0,2,5],columns=['A','C','B']))

           A       C   B
0 2022-01-01    High NaN
2 2022-01-03     Low NaN
5 2022-01-06  Medium NaN

####  **Missing Data**

In [20]:
df = pd.DataFrame(np.random.randn(5,3),index=['a','c','e','f','h'],columns=['one','two','three'])
df = df.reindex(['a','b','c','d','e','f','g','h'])
print(df)

        one       two     three
a  1.262260 -0.617007 -0.145910
b       NaN       NaN       NaN
c -0.163357  0.360445  0.994546
d       NaN       NaN       NaN
e -1.170551 -0.550024  0.966012
f -1.354958  0.462930 -1.397192
g       NaN       NaN       NaN
h  0.657740  1.512663 -0.179155

In [22]:
#checking the missing values

#example 1
print(df['one'].isnull())

a    False
b     True
c    False
d     True
e    False
f    False
g     True
h    False
Name: one, dtype: bool

In [25]:
#example 2
print(df['one'].notnull())

a     True
b    False
c     True
d    False
e     True
f     True
g    False
h     True
Name: one, dtype: bool

#### Calculations with Missing Data

In [27]:
#Example 1
print(df['one'].sum())

-0.7688657517860691

In [29]:
#Example 2
df = pd.DataFrame(index=[0,1,2,3,4,5],columns=['one','two'])
print(df['one'].sum())

0

#### Cleaning / Filling Missing Data

- Replacing Not a Number(NaN) with Scalar Value

In [31]:
df = pd.DataFrame(np.random.randn(3,3),index=['a','c','e'],columns=['one','two','three'])
df = df.reindex(['a','b','c'])
print(df)
print("NaN replaced with '0' : ")
print(df.fillna(0))

        one       two     three
a  0.238971 -0.599120 -0.274947
b       NaN       NaN       NaN
c  1.617307 -0.606825  0.094524
NaN replaced with '0' :
        one       two     three
a  0.238971 -0.599120 -0.274947
b  0.000000  0.000000  0.000000
c  1.617307 -0.606825  0.094524

- Fill NA Forward and Backward

In [33]:
df = pd.DataFrame(np.random.randn(5,3),index=['a','c','e','f','h'],columns=['one','two','three'])
df = df.reindex(['a','b','c','d','e','f','g','h'])

#Pad/fill
print(df.fillna(method='pad'))

        one       two     three
a  0.247819  1.016380 -0.183345
b  0.247819  1.016380 -0.183345
c  1.106517  0.087720 -1.404993
d  1.106517  0.087720 -1.404993
e  1.276699 -0.752140 -0.075154
f  0.608611  1.923194  1.058028
g  0.608611  1.923194  1.058028
h -0.083185 -1.186909  1.318727

In [35]:
#bfill/backfill

print(df.fillna(method='backfill'))

        one       two     three
a  0.247819  1.016380 -0.183345
b  1.106517  0.087720 -1.404993
c  1.106517  0.087720 -1.404993
d  1.276699 -0.752140 -0.075154
e  1.276699 -0.752140 -0.075154
f  0.608611  1.923194  1.058028
g -0.083185 -1.186909  1.318727
h -0.083185 -1.186909  1.318727

- Drop Missing Values
 to simply exclude the missing values we use dropna()

In [36]:
#Example 1
print(df.dropna())

        one       two     three
a  0.247819  1.016380 -0.183345
c  1.106517  0.087720 -1.404993
e  1.276699 -0.752140 -0.075154
f  0.608611  1.923194  1.058028
h -0.083185 -1.186909  1.318727

In [37]:
#Example 2
print(df.dropna(axis=1))

Empty DataFrame
Columns: []
Index: [a, b, c, d, e, f, g, h]

#### Replace Missing (or) Generic Values

Many times, we have to replace a generic value with some specific value. We can achieve this by applying the replace method.

In [41]:
df = pd.DataFrame({'one':[10,20,30,40,50,2000],'two':[1000,0,30,40,50,60]})
print(df.replace({1000:10,2000:60}))

   one  two
0   10   10
1   20    0
2   30   30
3   40   40
4   50   50
5   60   60

#### **Python Pandas - IO Tools**

In [48]:
# readcsv() reads data from csv file and creates DataFrame Object

df = pd.read_csv("temp.csv")
print(df)

   S.No    Name  Age       City  Salary
0     1     Tom   28    Toronto   20000
1     2     Lee   32   HongKong    3000
2     3  Steven   43   Bay Area    8300
3     4     Ram   38  Hyderabad    3900

In [51]:
# index_col specifies a column in the csv file to customize the index

df=pd.read_csv("temp.csv",index_col=['S.No'])
print(df)

        Name  Age       City  Salary
S.No
1        Tom   28    Toronto   20000
2        Lee   32   HongKong    3000
3     Steven   43   Bay Area    8300
4        Ram   38  Hyderabad    3900

In [52]:
# dtype is used to find the data type and is passed as a dictionary

df = pd.read_csv("temp.csv", dtype={'Salary': np.float64})
print(df.dtypes)

S.No        int64
Name       object
Age         int64
City       object
Salary    float64
dtype: object