In [16]:
from numpy import nan as na
import pandas as pd
data=pd.Series([1,na,3.5,na])
print(data,"\n")

print("After dropping empty values: ")
data.dropna()

print(data[data.notnull()])

print("\nSome more stuff: ")
data = pd.DataFrame([[1,6.5,3],[1,na,na],[na,na,na],[na,6.5,3]])
cleaned = data.dropna()
print(cleaned)
print(data)


data.dropna(how='all')

data = pd.DataFrame([[1,6.5,3],[1,na,na],[na,na,na],[na,6.5,3]])
data[4]=na
data.dropna(axis=1,how='all')
data.fillna(0)
data.fillna({1:0/5,2:0})

0    1.0
1    NaN
2    3.5
3    NaN
dtype: float64

After dropping empty values:
0    1.0
2    3.5
dtype: float64

Some more stuff:
     0    1    2
0  1.0  6.5  3.0
     0    1    2
0  1.0  6.5  3.0
1  1.0  NaN  NaN
2  NaN  NaN  NaN
3  NaN  6.5  3.0

     0    1    2   4
0  1.0  6.5  3.0 NaN
1  1.0  0.0  0.0 NaN
2  NaN  0.0  0.0 NaN
3  NaN  6.5  3.0 NaN