In [47]:
import pandas as pd
import numpy as np

-- Pandas
        has two important data structures:

- Series:
    A series is a one-dimensional array-like object containing an array of data( of amy Numpy data type) and an associated array of data labels, called index. The simplest series is formed from only an array of data:

In [16]:
#Series
obj = pd.Series([4,7,-5,3])
print(obj)
#to view the values, tupe
obj.values
#To view the index, type
obj.index

0    4
1    7
2   -5
3    3
dtype: int64

RangeIndex(start=0, stop=4, step=1)

In [20]:
#Often iy is desirable to creat eseries with an index identifying each data point:
#Adding index to the series
obj2=pd.Series([4,7,-5,3],index=['d','b','a','c'])
print(obj2)

d    4
b    7
a   -5
c    3
dtype: int64

In [31]:
#Extracting data by index.
#W can use the value in the index when selecting single values or set of values
print(obj2['a'])
obj2['d'] = 6
obj2[['c','a','d']]

-5

c    3
a   -5
d    6
dtype: int64

In [33]:
#Converting Python dictionary to Panda Series
sdata={'ohio':35000,'Texas':71000,'Oregon':1600,'Utah':5000}
obj3 = pd.Series(sdata)
print(obj3)

ohio      35000
Texas     71000
Oregon     1600
Utah       5000
dtype: int64

In [41]:
#Changing series index
#The series index can be altered in place by assignment

obj3.index = ['Bob','Steve','Jeff','Ryan']
obj3

Bob      35000
Steve    71000
Jeff      1600
Ryan      5000
dtype: int64

In [45]:
#Creating an empty series
# The basic series which can be created is an empty series
s = pd.Series()
print(s)

Series([], dtype: float64)

C:\Users\pjaas\AppData\Local\Temp\ipykernel_5068\3319684315.py:3: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  s = pd.Series()

In [49]:
#Creating a series from ndarray
data = np.array(['a','b','c','d'])
s = pd.Series(data)
print(s)

0    a
1    b
2    c
3    d
dtype: object

In [53]:
#Creating a series from scalar
k = pd.Series(5,index=[0,1,2,3])
print(s)

0    a
1    b
2    c
3    d
dtype: object

In [62]:
#To retreieve the first three elements in the series if a colon is inserted infront of it, all items from that index onwards will be extracted. If two parameters are used, items between the two indices will be extracted but not including the stop index
s = pd.Series([1,2,3,4,5],index=['a','b','c','d','e'])
print("First three elements:")
print(s[:3])

#Retriving last three elements
print("Last three elements:")
print(s[-3:])

First three elements:
a    1
b    2
c    3
dtype: int64
Last three elements:
c    3
d    4
e    5
dtype: int64

- Dataframe:

    It is a two-dimensional data structure, data is aligned in rows and columns
    
    Features of Dataframe:
    - Potentially columns are of different types
    - Size is Mutable
    - Labeled axes (rows and columns)
    - Can perform Arithmetic operations on rows and columns

Syntax for creating DataFrame 
pandas.DataFrame(data,index,columns,dtype,copy)

DataFrame can be created using various inputs like
- Lists
- Dictionary
- Series
- ndarrays
- and another dataframe

In [68]:
#Creating an empty DataFrame
df = pd.DataFrame()
print(df)

Empty DataFrame
Columns: []
Index: []

In [83]:
# How to create dataframe using list

#Example 1
data = [1,2,3,4,5]
df = pd.DataFrame(data)
print("Example 1: ")
print(df)

#Example 2
data = [['Alex',10],['Bob',12],['Clarke',13]]
adf = pd.DataFrame(data,columns=['Name','Age'])
print("Example 2: ")
print (adf)

#To print only the names type
print("Names are:\n ", adf['Name'])
print("Ages are:\n ", adf['Age'])

Example 1:
   0
0  1
1  2
2  3
3  4
4  5
Example 2:
     Name  Age
0    Alex   10
1     Bob   12
2  Clarke   13
Names are:
  0      Alex
1       Bob
2    Clarke
Name: Name, dtype: object
Ages are:
  0    10
1    12
2    13
Name: Age, dtype: int64